<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/result" method="post">
      <p>your name: <input type="text" name="name" value=""></p>
      <p>your location:
        <select name="location">
            <option value="San Jose" selected>San Jose</option>
            <option value="Los Angeles">Los Angeles</option>
           </select>
    </p>
      <p> Favorite language:
        <select  name="lang">
            <option value="Javascript" selected>Java Script</option>
            <option value="Python">Python</option>
           </select>
      </p>
      <p>Comment <br>
        <textarea name="comment" rows="8" cols="80"></textarea>
      </p>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
