<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Submitte information</h2>
<p>Name: <%=  form.name %></p>
<p>Dojo Location: <%=  form.location %></p>
<p>Favorite Language: <%=  form.lang %></p>
<p>Comment: <%=  form.comment %></p>


  </body>
</html>
