<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
         <h3><%= errors[x].message %></h3>
        <% } %>
    <% } %>

    <form class="" action="/users" method="post">
      <p> Name:
        <input type="text" name="name" value="">
      </p>
      <p> email:
        <input type="text" name="email" value="">
      </p>
      <p> pasword:
        <input type="text" name="pw" value="">
      </p>
      <input type="submit" name="" value="Create User">
    </form>

    <% for (i in context) { %>
    <h4> <%= context[i].name %>, <%= context[i].email %></h4>
    <% } %>

  </body>
</html>
