
{{db_user | json}}
<div style="padding:7px">
  <a [routerLink]="['/browse', id]">Browse</a> |
  <a [routerLink]="['/listings', id]">My Listings</a> |
  <a [routerLink]="['/']">Log Off</a>

</div>


<div style="background:#ccc">
  <div class="sform">
    <form (submit)="search()">
      <input class="input" style="width:85%"
      >
      <input type="submit" name=""
      value="Sarch"
      >
    </form>
  </div>

  <div class="">
    <span *ngFor="let bike of allbikes; let i=index">
      {{bike | json}}
    </span>
  </div>


</div>


<style media="screen">
  .sform form{
    padding:20px;
    text-align: center;


  }
  .sform input {
    padding:5px;
        font-size:1em;
    border:2px solid black;
  }
</style>
